@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #FBF8DD;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 60vw;
}

.header--home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header--home img {
  width: 30vw;
  border-radius: 10px;
}

h1 {
  color: #A34343;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: bolder;
}

.header--home p,
.home p {
  font-size: 1.8rem;
  text-align: center;
  font-style: italic;
  margin: 0 auto;
}

.code {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background: black;
  max-width: 60vw;
  min-width: 30vw;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-style: italic;
}

span {
  color: gold;
}

footer a {
  font-size: 2rem;
  background: #A34343;
  color: #FBF8DD;
  padding: 0.5em 1em;
  margin: 0 auto;
  display: block;
  width: min-content;
  cursor: pointer;
  border-radius: 5px;
}

.header--docs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-direction: column;
}

.docs {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.docs p {
  font-size: 1rem;
  margin: 0.5em 0;
}

.header--docs a {
  background: #A34343;
  color: #FBF8DD;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.docs code {
  background: black;
  padding: 1.2em 1em;
  color: white;
  border-radius: 5px;
  margin: 0.5rem 0;
  display: block;
  font-size: 1rem;
}

section .op {
  font-size: 1.3rem;
}

section .op,
h3 {
  margin-left: 1em;
}
