{{ template "base" .}}

{{ define "main" }}

<header class="header--docs">
  <a href="/">HOME</a>
  <h1>Atom 🌖</h1>
</header>
<main class="docs">
  <article>
    <h2>Variable Binding</h2>
    <p>Atom allows values to be bind to particular name, referred as 'variable binding'.</p>
    <p>In atom, variables are immutable, and assignments are not supported.</p>
    <code>let name = "Bharat"</code>
    <p>However, you can redeclare the variable with same name using concept called shadowing. Old value will not be
      accessible further.</p>
    <code>let name = "Hany"</code>
  </article>
  <article>
    <h2>Data Types</h2>
    <p>Atom is dynamic language where types are associated with values, not with variables.</p>
    <p>It supports integer (32 or 64 bits - architecture dependent), float (64 bits), string, boolean.</p>
    <code>let name = "Bharat" <br>let age = 14 <br>let heightInMeter = 1.7 <br>let isAdult = true
    </code>
  </article>
  <article>
    <h2>Operators</h2>
    <p>Atom is strongly typed meaning all the operands in an expression must be of the same type.</p>
    <section>
      <h3>1. Arithmetic</h3>
      <p class="op">+, -, *, /</p>
      <code>let name = (12 + 13) * 15</code>
    </section>
    <section>
      <h3>2. Relational</h3>
      <p class="op">&lt;, &lt;=, &gt;, &gt;=, !=, ==, % </p>
      <code>let eligibleToVote = age &gt;= 18 </code>
    </section>
    <section>
      <h3>3. Logical</h3>
      <p class="op">and, or, ! (not)</p>
      <code>let eligibleToBePolitician = talkNonsensical and hyprocite</code>
    </section>
  </article>
  <article>
    <h2>If else expression</h2>
    <p>Atom has if else expression that works with single expression in its body.</p>
    <code>let isEven = if num % 2 == 0 do true else false</code>
    <p>Else part is optional.</p>
    <code>let isEven = if num &lt; 10 do "smaller"</code>
  </article>
  <article>
    <h2>Function Declaration And Expression</h2>
    <p>Functions in atom are first class citizens. You can bind them to names and pass them as arguments to another
      functions like normal values.</p>
    <p>Atom supports functions in 2 formats: as normal function and as expression</p>
    <code>let incr = fn |a| -&gt; a + 1 end</code>
    <code>fn sum |a, b| -&gt; <br>&nbsp; &nbsp; a + b <br>end</code>
    <code>incr(10)</code>
    <code>sum(10, 20)</code>
    <p>Functions by default returns the last statement from the body, unless we explicitly return using 'return'
      keyword. In case, the last statement is not an expression, they return unit value '()'.</p>
    <code>fn id |a| -&gt; <br>&nbsp; return a <br>end</code>
  </article>
  <article>
    <h2>Iteration</h2>
    <p>There are no looping constructs in atom, however it supports recursion for the purpose.</p>
    <code>fn fact |n| -&gt; <br>&nbsp;&nbsp;if n == 1 do return 1 <br>&nbsp;&nbsp;n * fact(n-1) <br>end</code>
  </article>
</main>
<footer>
</footer>

{{ end }}
