{{ template "base" .}}

{{ define "main" }}

<header class="header--home">
  <h1>Atom: The fundamental in a language universe 🌖</h1>
  <img src="/static/images/logo.png" alt="atom logo">
  <p>It's a dynamic, strongly styped, functional language with interpreter implementation.</p>
</header>
<main class="home">
  <div class="code">
    <code>
      <span>fn</span> greet | name, message | <span>-></span>
    </code>
    <code>&nbsp;&nbsp;&ldquo;Hello &rdquo; + name + &ldquo;, &rdquo; + message</code>
    <code><span>end</span></code>
    <code><span>greet</span>("Bharat", "Welcome!")</code>
    <code>> Hello Bharat, Welcome!</code>
  </div>
  <p>The language supports only computations and has no side effects. It's a design choice. 🤗</p>
</main>
<footer>
  <a href="/docs">DOCS</a>
</footer>

{{ end }}
